In [1]:
import re, pandas as pd

In [2]:
suffix='3'
cpath = 'client'+suffix+'.log'
spath = 'server'+suffix+'.log'

In [3]:
def extract(path, pat):
    return [
        map(float, m.groups())
        for line in open(path)
        for m in [re.match(pat, line)]
        if m
    ]

In [4]:
cjank = pd.DataFrame(extract(cpath, r'client-jank: start (.+) end (.+) elapsed (.+)'),
                     columns=['start','end','elapsed'])

In [5]:
cjank['gap'] = [0] + cjank.start.diff()

In [6]:
cjank.describe()

              start           end      elapsed          gap
count   2785.000000   2785.000000  2785.000000  2784.000000
mean   50985.819206  50986.767506     0.948300    17.537696
std    14180.168233  14180.171387     0.371041    11.025561
min    26697.490000  26698.170000     0.335000     3.995000
25%    38532.865000  38533.865000     0.710000    16.440000
50%    50971.360000  50973.000000     0.880000    16.670000
75%    63153.445000  63154.680000     1.075000    16.915000
max    75522.435000  75523.425000     5.760000   316.160000

In [7]:
cjank['gap'].sort_values(ascending=False)[:10]

1244    316.160
2349    238.795
2121    186.360
760     183.230
1766    171.985
2416    150.115
1923    133.535
1432    132.820
180     132.485
703     113.865
Name: gap, dtype: float64

In [8]:
cjank.loc[cjank['gap'].isin(_)]

          start        end  elapsed      gap
180   29814.335  29814.870    0.535  132.485
703   38746.375  38747.255    0.880  113.865
760   39866.025  39866.495    0.470  183.230
1244  48434.290  48435.700    1.410  316.160
1432  51751.650  51752.445    0.795  132.820
1766  57591.750  57592.495    0.745  171.985
1923  60386.250  60387.060    0.810  133.535
2121  63872.930  63873.595    0.665  186.360
2349  68043.735  68044.280    0.545  238.795
2416  69287.795  69288.635    0.840  150.115

In [9]:
sjank = pd.DataFrame(extract(spath, r'server-jank: start (.+) end (.+) elapsed (.+)'),
                     columns=['start','end','elapsed'])

In [10]:
sjank

             start           end  elapsed
0     1.508527e+12  1.508527e+12      7.0
1     1.508527e+12  1.508527e+12      2.0
2     1.508527e+12  1.508527e+12      3.0
3     1.508527e+12  1.508527e+12      1.0
4     1.508527e+12  1.508527e+12      1.0
5     1.508527e+12  1.508527e+12      3.0
6     1.508527e+12  1.508527e+12      1.0
7     1.508527e+12  1.508527e+12      1.0
8     1.508527e+12  1.508527e+12      0.0
9     1.508527e+12  1.508527e+12      7.0
10    1.508527e+12  1.508527e+12      2.0
11    1.508527e+12  1.508527e+12      0.0
12    1.508527e+12  1.508527e+12      0.0
13    1.508527e+12  1.508527e+12      2.0
14    1.508527e+12  1.508527e+12      0.0
15    1.508527e+12  1.508527e+12      0.0
16    1.508527e+12  1.508527e+12      0.0
17    1.508527e+12  1.508527e+12      1.0
18    1.508527e+12  1.508527e+12      0.0
19    1.508527e+12  1.508527e+12      0.0
20    1.508527e+12  1.508527e+12      0.0
21    1.508527e+12  1.508527e+12      0.0
22    1.508527e+12  1.508527e+12      0.0
23    1.508527e+12  1.508527e+12      0.0
24    1.508527e+12  1.508527e+12      0.0
25    1.508527e+12  1.508527e+12      0.0
26    1.508527e+12  1.508527e+12      1.0
27    1.508527e+12  1.508527e+12      0.0
28    1.508527e+12  1.508527e+12      0.0
29    1.508527e+12  1.508527e+12      1.0
...            ...           ...      ...
2796  1.508527e+12  1.508527e+12      0.0
2797  1.508527e+12  1.508527e+12      0.0
2798  1.508527e+12  1.508527e+12      0.0
2799  1.508527e+12  1.508527e+12      1.0
2800  1.508527e+12  1.508527e+12      0.0
2801  1.508527e+12  1.508527e+12      0.0
2802  1.508527e+12  1.508527e+12      1.0
2803  1.508527e+12  1.508527e+12      0.0
2804  1.508527e+12  1.508527e+12      0.0
2805  1.508527e+12  1.508527e+12      0.0
2806  1.508527e+12  1.508527e+12      1.0
2807  1.508527e+12  1.508527e+12      1.0
2808  1.508527e+12  1.508527e+12      0.0
2809  1.508527e+12  1.508527e+12      0.0
2810  1.508527e+12  1.508527e+12      0.0
2811  1.508527e+12  1.508527e+12      0.0
2812  1.508527e+12  1.508527e+12      0.0
2813  1.508527e+12  1.508527e+12      1.0
2814  1.508527e+12  1.508527e+12      1.0
2815  1.508527e+12  1.508527e+12      0.0
2816  1.508527e+12  1.508527e+12      1.0
2817  1.508527e+12  1.508527e+12      1.0
2818  1.508527e+12  1.508527e+12      1.0
2819  1.508527e+12  1.508527e+12      0.0
2820  1.508527e+12  1.508527e+12      0.0
2821  1.508527e+12  1.508527e+12      0.0
2822  1.508527e+12  1.508527e+12      0.0
2823  1.508527e+12  1.508527e+12      1.0
2824  1.508527e+12  1.508527e+12      0.0
2825  1.508527e+12  1.508527e+12      1.0

[2826 rows x 3 columns]

In [11]:
cbcast = pd.DataFrame(extract(cpath, r'bcast: time (.+) thisDelta (.+) delta (.+)'),
                     columns=['time','this_delta','delta'])

In [13]:
cbcast['time gap'] = [0] + cbcast['time'].diff()

In [23]:
cbcast.describe()

               time    this_delta         delta    time gap
count    901.000000  9.010000e+02  9.010000e+02  900.000000
mean   51102.723751  1.508527e+12  1.508527e+12   54.200656
std    14113.357793  2.231009e+01  7.888770e+00   20.651920
min    26720.225000  1.508527e+12  1.508527e+12    0.125000
25%    38904.780000  1.508527e+12  1.508527e+12   51.773750
50%    51099.185000  1.508527e+12  1.508527e+12   53.945000
75%    63289.475000  1.508527e+12  1.508527e+12   55.980000
max    75500.815000  1.508527e+12  1.508527e+12  317.530000

In [24]:
cbcast['time gap'].sort_values(ascending=False)[:10]

396    317.530
758    267.395
567    219.370
683    207.360
240    198.580
55     171.120
220    165.515
783    161.220
460    155.445
886    149.615
Name: time gap, dtype: float64

In [25]:
cbcast.loc[cbcast['time gap'].isin(_)]

          time    this_delta         delta  time gap
55   29810.830  1.508527e+12  1.508527e+12   171.120
220  38745.230  1.508527e+12  1.508527e+12   165.515
240  39857.675  1.508527e+12  1.508527e+12   198.580
396  48422.040  1.508527e+12  1.508527e+12   317.530
460  51738.780  1.508527e+12  1.508527e+12   155.445
567  57590.590  1.508527e+12  1.508527e+12   219.370
683  63871.905  1.508527e+12  1.508527e+12   207.360
758  68041.545  1.508527e+12  1.508527e+12   267.395
783  69287.025  1.508527e+12  1.508527e+12   161.220
886  74847.555  1.508527e+12  1.508527e+12   149.615

In [15]:
sbcast = pd.DataFrame(extract(spath, r'bcast: tick (.+) player (.+) snap time (.+) send done time (.+)'),
                     columns=['tick','player','snap_time','send_done_time'])

In [16]:
sbcast

        tick  player     snap_time  send_done_time
0      133.0    11.0  1.508527e+12    1.508527e+12
1      134.0    11.0  1.508527e+12    1.508527e+12
2      135.0    11.0  1.508527e+12    1.508527e+12
3      136.0    11.0  1.508527e+12    1.508527e+12
4      137.0    11.0  1.508527e+12    1.508527e+12
5      138.0    11.0  1.508527e+12    1.508527e+12
6      139.0    11.0  1.508527e+12    1.508527e+12
7      140.0    11.0  1.508527e+12    1.508527e+12
8      141.0    11.0  1.508527e+12    1.508527e+12
9      142.0    11.0  1.508527e+12    1.508527e+12
10     143.0    11.0  1.508527e+12    1.508527e+12
11     144.0    11.0  1.508527e+12    1.508527e+12
12     145.0    11.0  1.508527e+12    1.508527e+12
13     146.0    11.0  1.508527e+12    1.508527e+12
14     147.0    11.0  1.508527e+12    1.508527e+12
15     148.0    11.0  1.508527e+12    1.508527e+12
16     149.0    11.0  1.508527e+12    1.508527e+12
17     150.0    11.0  1.508527e+12    1.508527e+12
18     151.0    11.0  1.508527e+12    1.508527e+12
19     152.0    11.0  1.508527e+12    1.508527e+12
20     153.0    11.0  1.508527e+12    1.508527e+12
21     154.0    11.0  1.508527e+12    1.508527e+12
22     155.0    11.0  1.508527e+12    1.508527e+12
23     156.0    11.0  1.508527e+12    1.508527e+12
24     157.0    11.0  1.508527e+12    1.508527e+12
25     158.0    11.0  1.508527e+12    1.508527e+12
26     159.0    11.0  1.508527e+12    1.508527e+12
27     160.0    11.0  1.508527e+12    1.508527e+12
28     161.0    11.0  1.508527e+12    1.508527e+12
29     162.0    11.0  1.508527e+12    1.508527e+12
...      ...     ...           ...             ...
2663  2796.0    11.0  1.508527e+12    1.508527e+12
2664  2797.0    11.0  1.508527e+12    1.508527e+12
2665  2798.0    11.0  1.508527e+12    1.508527e+12
2666  2799.0    11.0  1.508527e+12    1.508527e+12
2667  2800.0    11.0  1.508527e+12    1.508527e+12
2668  2801.0    11.0  1.508527e+12    1.508527e+12
2669  2802.0    11.0  1.508527e+12    1.508527e+12
2670  2803.0    11.0  1.508527e+12    1.508527e+12
2671  2804.0    11.0  1.508527e+12    1.508527e+12
2672  2805.0    11.0  1.508527e+12    1.508527e+12
2673  2806.0    11.0  1.508527e+12    1.508527e+12
2674  2807.0    11.0  1.508527e+12    1.508527e+12
2675  2808.0    11.0  1.508527e+12    1.508527e+12
2676  2809.0    11.0  1.508527e+12    1.508527e+12
2677  2810.0    11.0  1.508527e+12    1.508527e+12
2678  2811.0    11.0  1.508527e+12    1.508527e+12
2679  2812.0    11.0  1.508527e+12    1.508527e+12
2680  2813.0    11.0  1.508527e+12    1.508527e+12
2681  2814.0    11.0  1.508527e+12    1.508527e+12
2682  2815.0    11.0  1.508527e+12    1.508527e+12
2683  2816.0    11.0  1.508527e+12    1.508527e+12
2684  2817.0    11.0  1.508527e+12    1.508527e+12
2685  2818.0    11.0  1.508527e+12    1.508527e+12
2686  2819.0    11.0  1.508527e+12    1.508527e+12
2687  2820.0    11.0  1.508527e+12    1.508527e+12
2688  2821.0    11.0  1.508527e+12    1.508527e+12
2689  2822.0    11.0  1.508527e+12    1.508527e+12
2690  2823.0    11.0  1.508527e+12    1.508527e+12
2691  2824.0    11.0  1.508527e+12    1.508527e+12
2692  2825.0    11.0  1.508527e+12    1.508527e+12

[2693 rows x 4 columns]

In [17]:
sbcast['snap gap'] = [0] + sbcast.snap_time.diff()

In [18]:
sbcast['tick gap'] = [0] + sbcast.tick.diff()

In [19]:
sbcast['send_time'] = sbcast['send_done_time'] - sbcast['snap_time']

In [20]:
sbcast.describe()

,tick,player,snap_time,send_done_time,snap gap,tick gap,send_time
count,2693.000000,2693.0,2.693000e+03,2.693000e+03,2692.000000,2692.0,2693.000000
mean,1479.000000,11.0,1.508527e+12,1.508527e+12,54.040862,1.0,0.985147
std,777.546462,0.0,4.200966e+04,4.200961e+04,1.711819,0.0,0.593866
min,133.000000,11.0,1.508527e+12,1.508527e+12,50.000000,1.0,0.000000
25%,806.000000,11.0,1.508527e+12,1.508527e+12,53.000000,1.0,1.000000
50%,1479.000000,11.0,1.508527e+12,1.508527e+12,54.000000,1.0,1.000000
75%,2152.000000,11.0,1.508527e+12,1.508527e+12,55.000000,1.0,1.000000
max,2825.000000,11.0,1.508527e+12,1.508527e+12,61.000000,1.0,7.000000

In [ ]:
sbcast